<%- include("partials/head"); -%>

<div class="container-fluid pt-5">
    <div class="row justify-content-center">
        <div class="myHeroeContainer col-10 col-lg-11 boxShadowBorder">

            <div class="row p-2">
                <div class="col col-lg-4 col-sm-12 col-12 h3Decoration heroContHeight">
                    <div class="text-center titleSectionBorder mb-2">
                        <h3>Available Heroes</h3>
                    </div>
                    <div class="text-center overflow p-1">
                        <div class="row justify-content-around selectHeroe">
                            
                            <%  allHeroes.forEach(function(heroe){ %>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-4 avHeroContHeight m-1 ml-3 mt-2 boxShadowBorder <%=heroe.class%> <%=heroe.star%>">
                                <div class="col col-lg-9 col-md-10 col-sm-10 col-10 avHeroPicCont">
                                    <div class="avHeroName"><%=heroe.name%></div>
                                    <img class="picUrl" src="<%=heroe.picUrl%>">
                                </div>
                                <div class="col col-lg-3 col-md-2 col-sm-2 col-2 avHeroStatCont">
                                    <div class="avHeroLvl starContHeight">
                                        <img src="<%=heroe.starsUrl%>" alt="">
                                    </div>
                                    <div class="lvl avHeroLvl lvlContHeight pt-1"><%=heroe.lvl%></div>
                                    <div class="avHeroLvl ascContHeight">
                                        <img class="ascUrl" src="<%=heroe.ascend%>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>

                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-sm-12 col-12 h3Decoration heroContHeight">
                    <div class="text-center titleSectionBorder mb-2">
                        <h3>My Heroes</h3>
                    </div>
                    <div class="text-center overflow p-1">
                        <div class="row justify-content-center selectHeroe">

                            <% if(myHeroes.length > 0) { %>
                            <%  myHeroes.forEach(function(heroe){ %>
                            <div id="<%=heroe.id%>" class="col col-lg-4 col-md-4 col-sm-4 col-4 avHeroContHeight m-1 ml-3 mt-2 boxShadowBorder selectMyHeroe <%=heroe.class%> <%=heroe.star%>">
                                <div class="col col-lg-9 col-md-10 col-sm-10 col-10 avHeroPicCont">
                                    <div class="avHeroName"><%=heroe.name%></div>
                                    <img class="picUrl" src="<%=heroe.picUrl%>">
                                </div>
                                <div class="col col-lg-3 col-md-2 col-sm-2 col-2 avHeroStatCont">
                                    <div class="avHeroLvl starContHeight">
                                        <img src="<%=heroe.starsUrl%>" alt="">
                                    </div>
                                    <div class="lvl avHeroLvl lvlContHeight pt-1"><%=heroe.lvl%></div>
                                    <div class="avHeroLvl ascContHeight">
                                        <img class="ascUrl" src="<%=heroe.ascend%>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                            <% } else { %>
                            <div class="text-center p-5 mt-5">
                                <h2>You don't have any Heroes yet!</h2>
                            </div>
                            <% } %>

                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-sm-12 col-12 h3Decoration heroContHeight">
                    <div class="text-center titleSectionBorder mb-2">
                        <h3>Modify Heroes</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 modHeroStatCont mt-3 pt-2 pb-3">
                            <div class="modHeroPicCont boxShadow m-auto">
                                <img class="targetUrl" src="">
                            </div>
                        </div>
                        <div class="col-12 modHeroStatCont mt-3 pt-3">
                            <div class="inputSelectButtonWidth md-form active-cyan active-cyan-2 m-auto boxShadow">
                                <input class="form-control text-center targetLvl" type="text" placeholder="LVL Number"
                                    aria-label="Search">
                            </div>
                        </div>
                        <div class="col-12 modHeroStatCont mt-2 pt-3">
                            <div class="row ascSelectWidth modHeroAscensionCont m-auto">
                                <div class="col col-lg-3">
                                    <div class="ascPicSize boxShadow m-auto">
                                        <img src="images/style/asc1.png">
                                    </div>
                                </div>
                                <div class="col col-lg-3 ">
                                    <div class="ascPicSize boxShadow m-auto">
                                        <img src="images/style/asc2.png">
                                    </div>
                                </div>
                                <div class="col col-lg-3 ">
                                    <div class="ascPicSize boxShadow m-auto">
                                        <img src="images/style/asc3.png">
                                    </div>
                                </div>
                                <div class="col col-lg-3 ">
                                    <div class="ascPicSize boxShadow m-auto">
                                        <img src="images/style/asc4.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 modHeroStatCont mt-4 pt-4">
                            <div class="inputSelectButtonWidth boxShadow m-auto">
                                <button class="collectInfo btn btn-lg btn-warning btn-block buttonFont" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="backgroundOpacity"></div>
        </div>

        <div class="myHeroeFilter col-10 col-lg-11 mb-5 boxShadowBorder">
            <div class="row justify-content-center">
                <%- include("partials/filter"); -%>
            </div>
            
            <div class="backgroundOpacity"></div>
        </div>
    </div>

   
</div>

<%- include("partials/foot"); -%>